
.addTrade span {
    display: inline-block;
    margin: 5px;
    width: 70px;
}

.delete {
    margin: 7px;
}

chart{
    display:block;
    width:400px;
    height:200px;
}

.ko-grid {
    background-color: White;
    border: 1px solid silver;
    margin-bottom: 1em;
    width: 80%;
}
.ko-grid th {
    background-color: Black;
    color: White;
    text-align: left;
}
.ko-grid td, th {
    padding: 0.4em;
}
.ko-grid tr:nth-child(2n+1) {
    background-color: #DDDDDD;
}
.ko-grid-pageLinks {
    margin-bottom: 1em;
}
.ko-grid-pageLinks a {
    padding: 0.5em;
}
.ko-grid-pageLinks a.selected {
    background-color: Black;
    color: White;
}