.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 80%;
    height: 300px;
}

.addTrade span {
    display: inline-block;
    margin: 5px;
    width: 70px;
}

.delete {
    margin: 7px;
}

chart{
    display:block;
    width:400px;
    height:200px;
}